<ion-card mode="ios">
  <ion-slides scrollbar="true" pager="true" [options]="slideOpts" #mySlider>
    <ion-slide>
      <div style="text-align: center;">
        <img src="{{sitio.image}}" style="max-width: 25rem;" />
      </div>
    </ion-slide>
  </ion-slides>
  <ion-card-header>
    <ion-card-title style="text-align: center;">{{sitio.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content style="text-align: justify;">
    {{sitio.description}}
    <div class="reference">
      <br>
      <strong>Reference: </strong> {{sitio.reference}}
    </div>
  </ion-card-content>
</ion-card>