.contenedor{
    padding: 4%;
}

ion-col {
    display: flex;
    align-items: center;
}

ion-icon {
    margin: 0 3px;
}

span {
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: -5px;
}
