<div class="contenedor">
  <form [formGroup]= "comentarioForm">
    <h3>Calificar</h3>
    <ion-grid style="font-size: 2rem;">
      <ion-row>
        <ion-col *ngFor="let s of stars; let i = index">
          <ion-icon name="star{{s}}" color="primary" (click)="qualify(i)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-textarea formControlName="comentario" placeholder="Dejanos un comentario para saber como te parecio el lugar"></ion-textarea>
    </ion-item>
    <ion-button (click)="guardar()" >Guardar</ion-button>
    <ion-button (click)="dismiss()">Cancelar</ion-button>
  </form>
</div>