<div class="contenedor">
  <form [formGroup]="commentForm">
    <h3>Calificar</h3>
    <ion-grid style="font-size: 2rem;">
      <ion-row>
        <ion-col >
          <ion-icon *ngFor="let s of [1,2,3,4,5]" name="star" color="{{s > numStarField ? 'grey' : 'star'}}" (click)="numStarField = s">
          </ion-icon>
          <span *ngIf="numStarField > 0">({{numStarField}})</span> 
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-textarea formControlName="commentary"
        placeholder="Déjanos un comentario para saber como te pareció el lugar"></ion-textarea>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-button mode="ios" (click)="close('cancel')" color="grey">Cancelar</ion-button>
        <ion-button mode="ios" (click)="save()">Guardar</ion-button>
        <ion-button mode="ios" (click)="close('delete')" color="danger">
          <ion-icon name="trash-sharp"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</div>