<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Celebraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs style="display: contents;">
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="item='description'">
        <ion-icon name="reader"></ion-icon>
        <ion-label>Descripción</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="item='activities'">
        <ion-icon name="layers"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="item='comments'">
        <ion-icon name="star"></ion-icon>
        <ion-label>Valoración</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="item='gallery'">
        <ion-icon name="images"></ion-icon>
        <ion-label>Galería</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ng-container [ngSwitch]="item">
    <app-description *ngSwitchCase="'description'" [celebration]="celebration"></app-description>
    <app-activities *ngSwitchCase="'activities'"  [celebration]="celebration"></app-activities>
    <app-comments *ngSwitchCase="'comments'" [celebration]="celebration"></app-comments>
    <app-gallery *ngSwitchCase="'gallery'" [celebration]="celebration"></app-gallery>
  </ng-container>
</ion-content>
