<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header">Celebraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="top">
      <ion-tab-button tab="description">
        <ion-icon name="reader"></ion-icon>
        <ion-label>Descripción</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="activities">
        <ion-icon name="location-sharp"></ion-icon>
        <ion-label>Actividades</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="comments">
        <ion-icon name="star"></ion-icon>
        <ion-label>Valoración</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
