.message {
    margin: 2.2rem 1.5rem;
    border: #c5c3c3 solid 1px;
    border-radius: 1rem;
    color: #9a9a9a;
}

.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
}

#columns {
    column-width: 48vw;
    column-gap: 0px;
    width: 100%;
    max-width: 1100px;
    margin: 2vw auto;
}

#columns div {
    margin: 5px;
    display: inline-block;
    column-break-inside: avoid;
}

#columns div img {
    max-width: 48vw;
    border-radius: 5px;
}