<ion-row class="message" *ngIf="imageList.length === 0; else aca">
  <ion-col size="2">
    <ion-icon style=" font-size: 3rem;" name="sad-outline"></ion-icon>
  </ion-col>
  <ion-col>
    <span style=" font-size: 1.3rem;"> Lo sentimos, todavía no hay información disponible.</span>
  </ion-col>
</ion-row>

<ng-template #aca>
  <h3 style="text-align: center;">{{sitio?.name || celebration?.name}}</h3>
  <ion-segment (ionChange)="changeSegment($event)" value="grid">
    <ion-segment-button value="grid">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-icon name="layers-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div id="columns" *ngIf="display == 'grid'">
    <div *ngFor="let img of imageList" (click)="showImage(img)">
      <img width="100%" [src]="img">
    </div>
  </div>
  <div *ngIf="display == 'list'">
    <div *ngFor="let img of imageList" style="margin: 1rem; text-align: center;" (click)="showImage(img)">
      <img style="border-radius: 5px;" width="100%" style="max-width: 25rem; border-radius: 10px;" [src]="img">
    </div>
  </div>
</ng-template>
