<ion-content>
  <ion-card>
    <ion-slides scrollbar="true" pager="true" [options]="slideOpts" #mySlider>
      <ion-slide>
        <div style="text-align: center;">
          <img src="{{celebration.image}}" style="max-width: 25rem;" />
        </div>
      </ion-slide>
    </ion-slides>
    <ion-card-header>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
      <ion-card-title>{{celebration.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{celebration.description}}
      <div class="reference">
        <br />
        <strong><ion-text color="dark">Referencia:</ion-text></strong> {{celebration.reference}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>