<ion-header>
  <ion-toolbar color="primary">
    <ion-title>menu-new</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="contenedor">
    <ion-row>
      <ion-col size="8">
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
        <h5 class="text-encima" class="centrado">Titulo noticia</h5>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
          <h6 class="text-encima" class="centrado">Titulo noticia</h6>
        </ion-row>
        <ion-row size ="4">
          <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
          <h5 class="text-encima" class="centrado">Titulo noticia</h5>
        </ion-row>
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let item of list, let indice=index" >
      <ion-col >

        <img src="{{item.image}}">
        <h5 class="text-encima" class="centrado">{{item.title}}</h5>
      </ion-col>
      <ion-col>
        <img src="{{item.image}}">
        <h5 class="text-encima" class="centrado">{{item.title}}</h5>
      </ion-col>
    </ion-row>

     
    <ion-row>
      <ion-col >
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
      <ion-col>
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
      <ion-col>
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
      <ion-col>
        <img src="https://media.istockphoto.com/photos/social-media-picture-id1187661304?s=612x612">
      </ion-col>
    </ion-row>
  
  </ion-grid>

</ion-content>
