<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: 3%; margin-right: 3%;">
    <p><strong>INFORMACIÓN RELEVANTE</strong></p>
    <p>Es requisito necesario para el acceso a esta aplicación, que lea y acepte los siguientes Términos y Condiciones que
      a continuación se redactan. El uso de nuestra aplicación implicará que usted ha leído y aceptado los Términos y
      Condiciones de Uso en el presente documento. En todos los casos, para acceder a la aplicación, será necesario el
      inicio de sesión con Google como proveedor por parte del usuario.</p>
    <p>Para el cambio de clave debe ser directamente con el correo de Google. Pal'Oriente Antioqueño no asume la responsabilidad en
      caso de que entregue dicha clave a terceros.</p>
    <p>Todos los movimientos y transacciones que se lleven a cabo por medio de esta aplicación, están sujetas a un proceso
      de cumplimiento de las condiciones aquí aceptadas.</p>
    <p>La información aquí presentada puede estar sujeta a cambios en el tiempo, actualizaciones y correcciones si el caso
      se presenta.</p>
    <p><strong>LICENCIA</strong></p>
    <p>Pal'Oriente Antioqueño&nbsp; a través de su aplicación concede una licencia para que los usuarios utilicen&nbsp; la
      información que se presenta en esta aplicación de acuerdo a los Términos y Condiciones que se describen en este
      documento.</p>
    <p><strong>PROPIEDAD</strong></p>
    <p>Usted no puede declarar propiedad intelectual o exclusiva en ninguno de nuestros espacios, modificado o sin
      modificar. Toda la información aquí presente esta con sus respectivas fuentes relacionadas, aceptamos correcciones.
    <p><strong>PRIVACIDAD</strong></p>
    <p>Esta aplicación garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos
      ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo
      que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
    <p>Pal'Oriente Antioqueño reserva los derechos de cambiar o de modificar estos términos sin previo aviso.</p>
    <p>Para conocer más acerca de los medidas de seguridad que tomamos a través de nuestros proveedores con los datos <a
        href="https://firebase.google.com/support/privacy?hl=es-419" target="_blank">aquí puedes ampliar la información</a> y
      para Google <a href="https://policies.google.com/?hl=es" target="_blank">aquí</a></p>
    <p>Estos términos y condiciones se han generado en&nbsp;<a href="http://terminosycondicionesdeusoejemplo.com/"
        target="_blank">terminosycondicionesdeusoejemplo.com</a>.</p>
    <br>
    <ion-button expand="block" color="primary" mode=ios (click)="accept(true)">Aceptar</ion-button>
    <ion-button expand="block" color="medium" mode=ios  (click)="accept(false)">No aceptar</ion-button>
  </div>
</ion-content>