
<ion-content no-bounce text-center>
  <div class="content">
   <!-- <span class="divider line one-line">or</span>-->

    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="danger"
         (click)="authService.GoogleAuth()" 
         expand="block" mode= "ios" style="font-weight: 700;">
         <i class="fa fa-google" style="margin-right: 10px;" aria-hidden="true"></i> Entra con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>