
<ion-content no-bounce text-center>
  <div class="content">
   <!-- <span class="divider line one-line">or</span>-->

    <ion-row>
      <ion-col> 
        <ion-text color="light">
          <h1 class="title">!Bienvenido!</h1>
        </ion-text>
        <p style="color: aliceblue;">Déjanos darte una experiencia personalizada</p>
        <ion-button 
         type="submit" 
         color="danger"
         (click)="openModal()" 
         expand="block" mode= "ios" style="font-weight: 700;">
         <i class="fa fa-google" style="margin-right: 10px;" aria-hidden="true"></i> Ingresa con Google
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>