@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Satisfy&display=swap');
.small-text {
    text-decoration: none;
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}

.content {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #244256;
  background: url(../../../assets/background.png);
  background-size: cover;
}

.title {
  text-align: center;
  font-size: xxx-large;
  font-weight: 700;
  font-family: 'Righteous', cursive;
  margin-top: -60px;
}
