.container {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    max-width: 35rem;
}
.text-img {
    position: absolute;
    bottom: 0;
    height: 23%;
    width: 100%;
    background: rgba(0, 0, 0, 0.38);
    
}
.text {
    font-size: 20px;
    margin: auto;
    padding: 9px;
}

.my-custom-class {
    --background: #222;
    --spinner-color: #fff;
  
    color: #fff;
  }
