<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{itemInfo.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="text-align: center;">
      <img src="{{itemInfo.urlImage}}" style="max-width: 25rem;" />
    </div>
    <ion-card-content>
      <p> {{itemInfo.description}} <br> </p>
      <div class="reference" *ngIf="itemInfo.reference">
        <br>
        <strong>Referencia:</strong> {{itemInfo.reference}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>