<ion-list>
  <ion-item *ngFor="let comentario of comentarios" (click)="update(comentario)">
    <ion-avatar slot="start">
      <img src="{{comentario.imageUser}}">
    </ion-avatar>
    <ion-label>
      <h2>{{comentario.nameUser}}</h2>
      <ion-col *ngFor="let s of [1,2,3,4,5]; let first = first;" [ngClass]="{ 'padding-left' : first }">
        <ion-icon name="star" color="{{s > comentario.numStars ? 'grey' : 'star'}}">
        </ion-icon>
      </ion-col>
      <p>{{comentario.commentary}}</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)='presentModal()' *ngIf="activeAdd">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>