<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button
        (click)="navCtrl.navigateBack('/tabs/home')">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{activatedroute.snapshot.paramMap.get('name')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background: #3D707B;">
    <img src="https://firebasestorage.googleapis.com/v0/b/palasquesea-e32c0.appspot.com/o/home%2Fbosques.jpg?alt=media&token=e9ce0639-be52-44f2-b40e-8ab6886acc10" />
    <ion-card-header style="padding: 10px;">
      <ion-card-title style="color: white;">Celebraciones</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #3D707B;">
    <img src="https://firebasestorage.googleapis.com/v0/b/palasquesea-e32c0.appspot.com/o/home%2Fbosques.jpg?alt=media&token=e9ce0639-be52-44f2-b40e-8ab6886acc10" />
    <ion-card-header style="padding: 10px;">
      <ion-card-title style="color: white;">Celebraciones</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #3D707B;">
    <img src="https://firebasestorage.googleapis.com/v0/b/palasquesea-e32c0.appspot.com/o/home%2Fbosques.jpg?alt=media&token=e9ce0639-be52-44f2-b40e-8ab6886acc10" />
    <ion-card-header style="padding: 10px;">
      <ion-card-title style="color: white;">Celebraciones</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>