<ion-row class="message" *ngIf="itemList.length === 0">
  <ion-col size="2">
    <ion-icon style=" font-size: 3rem;" name="sad-outline"></ion-icon>
  </ion-col>
  <ion-col>
    <span style=" font-size: 1.3rem;"> Lo sentimos, todavía no hay información disponible.</span>
  </ion-col>
</ion-row>

<ion-card-content class="item-menu" *ngFor="let item of itemList" routerLink="/tabs/{{route}}" [state]="item">
  <div class="container" style="display: flex; justify-content: center;">
    <div class="text-img border">
      <h3 class="text">{{item.name}}</h3>
    </div>
    <img [src]="item.image" class="border">
  </div>
</ion-card-content>