<ion-row class="message" *ngIf="itemList.length === 0">
  <ion-col size="2">
    <ion-icon style=" font-size: 3rem;" name="sad-outline"></ion-icon>
  </ion-col>
  <ion-col>
    <span style=" font-size: 1.3rem;"> Lo sentimos, todavía no hay información disponible.</span>
  </ion-col>
</ion-row>

  <div class="container" *ngFor="let item of itemList" routerLink="/tabs/{{route}}" [state]="item">
    <img [src]="item.image" height="250px" width="100%" style="margin-bottom: -4px;">
    <div class="text-img">
      <h4 class="text">{{item.name}}</h4>
  </div>
  
</div>

<!-- <div class="container" *ngFor="let item of itemList" routerLink="/tabs/{{route}}" state="{{item | json}}, id: '123456'"> -->
