.container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 1rem;
}
.text-img {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
}
.text {
    font-size: 26px;
    margin: auto;
    padding: 9px;
}
.border {
    border-radius: 10px;
}
.item-menu {
    max-width: 25rem;
    display: block;
    margin: 0 auto -18px auto;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

ion-thumbnail {
    height: 80px;
    width: 115px;
}