<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Municipios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngFor="let mun of municipalityList">
    <ion-grid (click)="goTo(mun)">
      <ion-row> 
        <ion-col size="5" >
          <div style="display: block; margin: auto; max-width: 14rem;">
            <ion-spinner *ngIf="mun==null"></ion-spinner>
            <img src={{mun.image}} width="800" height="600" style="height: 100px; border-radius: 7px;">
          </div>
        </ion-col>
        <ion-col size="7">
          <div style="margin: 5px 7px;"><b>{{mun.name}}</b></div>
          <div class="text-info" ><ion-text color="medium"><b>Habitantes: </b> {{mun.habitants}}</ion-text></div>
          <div class="text-info" ><ion-text color="medium"><b>Clima: </b> {{mun.weather}}</ion-text></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="border: 1px solid rgb(196, 196, 196);"></div>
  </ng-container>
  <ion-skeleton-text *ngIf="municipalityList==null" animated style="width: 75%"></ion-skeleton-text>
  <ion-skeleton-text *ngIf="municipalityList==null" animated style="width: 75%"></ion-skeleton-text>
</ion-content>
