<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Atractivos turísticos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-tabs style="display: contents;">
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="item='description'">
        <ion-icon name="reader"></ion-icon>
        <ion-label>Descripción</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="item='map'">
        <ion-icon name="location-sharp"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="item='comments'">
        <ion-icon name="star"></ion-icon>
        <ion-label>Valoración</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ng-container [ngSwitch]="item">
    <app-description *ngSwitchCase="'description'" [sitio]="sitio"></app-description>
    <app-located *ngSwitchCase="'map'"></app-located>
    <app-comments *ngSwitchCase="'comments'" [comentarios]="comentarios"></app-comments>
  </ng-container>

</ion-content>
