<ion-header mode="ios">
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="navCtrl.back()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{municipality?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="municipality">
  <ion-tabs style="display: contents;">
    <ion-tab-bar slot="top">
      <ion-tab-button routerLink="/tabs/sitios" [state]="municipality.sites">
        <ion-icon name="trail-sign"></ion-icon>
        <ion-label>Sitios</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/tabs/celebraciones" [state]="municipality.celebrations">
        <ion-icon name="glasses"></ion-icon>
        <ion-label>Celebraciones</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <ion-icon name="navigate-circle"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-card style="border-radius: 10px;" *ngIf="municipality">
    <div style="text-align: center;">
      <img class="image" style="max-width: 25rem;" [src]="municipality.image" alt="No se cargó la imagen">
    </div>
    <ion-card-header>
      <ion-card-title class="name">{{municipality.name}}</ion-card-title>
      <div class="showMe">
        <img class="handswipe" src="https://layerjs.org/img/swipeleft.svg" />
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-slides>
        <ion-slide>
          <div class="slide information">
            <div>{{municipality.description}}</div>
            <br>
            <div><strong>
              <ion-text color="dark"><ion-icon name="sunny"></ion-icon> Clima:</ion-text>
              </strong> {{municipality.weather}}</div>
            <br>
            <div><strong>
              <ion-text color="dark"> <ion-icon name="people-sharp"></ion-icon> Habitantes:</ion-text>
              </strong> {{municipality.habitants}}</div>
            <br>
            <div><strong>
              <ion-text color="dark"> <ion-icon name="cash"></ion-icon> Economía:</ion-text>
              </strong> {{municipality.economy}}</div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide information">
            <div><strong>
              <ion-text color="dark"> <ion-icon name="hourglass-sharp"></ion-icon> Historia:</ion-text>
              </strong> {{municipality.history}}</div>
            <br>
            <div class="reference"><strong><ion-text color="dark">Referencia :</ion-text></strong>{{municipality.reference}}</div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

</ion-content>