<ion-header>
  <ion-toolbar>
    <ion-title class="header">Información de El Santuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="name">El Santuario</h3>
  <div style="margin: 10px;">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/palasquesea-e32c0.appspot.com/o/ALTIPLANO%2FMUNICIPALITIES%2F-KJSDJKFHDF%2Fportada?alt=media&token=14c939ad-2ed4-4511-9647-0e57fdfed649"
      alt="" style="border-radius: 10px;">
    <div class="line"></div>

    <ion-slides> 
      <ion-slide style="text-align: justify;">
        <div class="slide">
          <div class="tittle">Descripción:</div>
          <div>El Santuario es un municipio del oriente antioqueño que se caracteriza por ser un pueblo muy católico y
            por
            su gente que es muy carismatica, negociante y amable</div>
          <div class="tittle">Clima:</div>
          <div>Promedio 16°C, máxima 24°C</div>
          <div class="tittle">Habitantes:</div>
          <div>27076</div>
        </div>
      </ion-slide>

      <ion-slide style="text-align: left;">
        <div>
          <div class="tittle">Historia:</div>
          <div>Cuenta la tradición que en el lugar donde se fundó el municipio existía un sitio sagrado dedicado a una
            deidad indígena. Durante la época española, se levantó en el lugar un santuario a la Virgen de Chiquinquirá,
            que se convertiría en lugar de peregrinación. En 1765, el capitán español Antonio Gómez estableció en su
            hacienda una capilla dedicada a Nuestra Señora de Chiquinquirá y esto atrajo a nuevos vecinos con casa y
            cultivos. La
            capilla de El Santuario fue heredada por Ignacio Gómez, su hijo, quien en 1792 construyó otra capilla
            alrededor de la cual se formó el caserío. El municipio estuvo bajo la jurisdicción de Marinilla hasta 1838.
            En 1829 se
            desarrolló una batalla entre el ejército grancolombiano (dirigido por Daniel Florencio O'Leary, Carlos Luis
            Castelli y Henry Lutzow) contra el ejército de la Libertad (dirigido por José María Córdova, Salvador
            Córdova más Braulio Henao) el cual perdió y murió José María Cordova.</div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>